:root {
  --color-primary: #f0f8fd;
  --color-secondary: #1aa1f5;
  --color-white: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif; }

body {
  background-color: var(--color-primary); }

.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content; }

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center; }
  .left-box {
    display: flex;
    align-items: center;
    margin: 4rem;
    color: var(--color-white); }
    .left-box i {
      font-size: 3rem;
      margin-right: 2rem; }
    .left-box__heading {
      font-size: 2rem; }

.right {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  position: relative; }
  .right__form {
    display: flex;
    justify-content: center;
    margin-top: 3rem; }
    .right__form input {
      width: 20rem;
      height: 4.5rem;
      margin-right: 1rem;
      font-size: 1.6rem;
      padding: 0 1rem;
      border: 0.1rem solid #ddd;
      border-radius: 0.5rem;
      background-color: var(--color-white);
      transition: background-color 0.3s; }
      .right__form input:focus {
        background-color: #d9ebf7; }
    .right__form .form__group {
      position: relative; }
      .right__form .form__group label {
        position: absolute;
        top: 5.5rem;
        left: 0;
        font-size: 1.6rem;
        font-weight: 300;
        color: #a7a6a6; }
    .right__form .form__button {
      width: 8rem;
      background-color: var(--color-white);
      color: var(--color-secondary);
      border: 0.1rem solid var(--color-secondary);
      border-radius: 3rem;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s; }
      .right__form .form__button:hover {
        background-color: #d9ebf7; }
  .right__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
