:root {
  --color-primary: #f0f8fd;
  --color-secondary: #1aa1f5;
  --color-white: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif; }

body {
  background-color: var(--color-primary); }

* {
  list-style-type: none;
  text-decoration: none; }

.left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center; }
  .left-box {
    display: flex;
    align-items: center;
    margin: 4rem;
    color: var(--color-white); }
    .left-box i {
      font-size: 3rem;
      margin-right: 2rem; }
    .left-box__heading {
      font-size: 2rem; }

.right {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  position: relative; }
  .right__form {
    display: flex;
    justify-content: center;
    margin-top: 3rem; }
    .right__form input {
      width: 20rem;
      height: 4.5rem;
      margin-right: 1rem;
      font-size: 1.6rem;
      padding: 0 1rem;
      border: 0.1rem solid #ddd;
      border-radius: 0.5rem;
      background-color: var(--color-white);
      transition: background-color 0.3s; }
      .right__form input:focus {
        background-color: #d9ebf7; }
    .right__form .form__group {
      position: relative; }
      .right__form .form__group label {
        position: absolute;
        top: 5.5rem;
        left: 0;
        font-size: 1.6rem;
        font-weight: 300;
        color: #a7a6a6; }
    .right__form .form__button {
      width: 8rem;
      background-color: var(--color-white);
      color: var(--color-secondary);
      border: 0.1rem solid var(--color-secondary);
      border-radius: 3rem;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s; }
      .right__form .form__button:hover {
        background-color: #d9ebf7; }
  .right__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40%; }
    .right__middle i {
      font-size: 4rem;
      color: var(--color-secondary);
      margin-bottom: 2rem; }
    .right__middle h1 {
      font-size: 2.8rem;
      margin-bottom: 4rem;
      line-height: 4rem; }
    .right__middle h4 {
      font-size: 2rem;
      margin-bottom: 2rem; }
    .right__middle button {
      margin: 0.8rem 0;
      padding: 0.5rem;
      border: 0.1rem solid var(--color-secondary);
      border-radius: 4rem;
      font-size: 1.6rem;
      cursor: pointer;
      transition: background-color 0.3s; }
    .right__middle .sign-up {
      background-color: var(--color-secondary);
      color: var(--color-white); }
      .right__middle .sign-up:hover {
        background-color: #0f5d8d; }
    .right__middle .sign-in {
      background-color: var(--color-white); }
      .right__middle .sign-in:hover {
        background-color: #d9ebf7; }

.post-btn {
  position: fixed;
  bottom: 2rem;
  left: 68%;
  width: 12rem;
  padding: 1.5rem 1rem;
  background-color: var(--color-secondary);
  border: 0.1rem solid var(--color-secondary);
  border-radius: 3rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s; }
  .post-btn:hover {
    background-color: #117abb; }

.main-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr min-content; }
  .main-page__footer {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    background-color: #f5f4f4;
    padding: 1.5rem;
    border-top: 0.1rem solid #ddd; }
    .main-page__footer-list {
      display: flex;
      justify-content: center;
      list-style-type: none; }
    .main-page__footer-link {
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0 2rem;
      text-decoration: none;
      color: #444; }

.login-page {
  width: 100%;
  height: 100vh;
  display: none;
  grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-row-gap: 1.5rem; }
  .login-page__nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: var(--color-white);
    padding: 2.5rem 0;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3); }
    .login-page__nav .nav__list {
      width: 100rem;
      margin: auto;
      display: flex;
      align-items: flex-end; }
    .login-page__nav .nav__link {
      font-size: 1.6rem;
      color: #555;
      transition: color 0.3s; }
      .login-page__nav .nav__link i {
        color: var(--color-secondary);
        font-size: 2rem; }
    .login-page__nav .nav__item:hover .nav__link {
      color: var(--color-secondary); }
    .login-page__nav .nav__item {
      margin: 0 1rem;
      position: relative; }
      .login-page__nav .nav__item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.4rem;
        background-color: var(--color-secondary);
        left: 0;
        bottom: -2.5rem;
        opacity: 0;
        transition: opacity 0.3s; }
      .login-page__nav .nav__item:hover::after {
        opacity: 1; }
    .login-page__nav .nav__item:last-child {
      margin-left: auto; }
  .login-page .login {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--color-white);
    width: 100rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 2fr 1fr;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); }
    .login-page .login__box {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      padding: 5rem 0 1rem 0; }
      .login-page .login__box h2 {
        font-size: 2.4rem;
        margin-bottom: 3rem; }
    .login-page .login__form {
      display: flex;
      flex-direction: column; }
      .login-page .login__form .form__input {
        width: 30rem;
        height: 3.5rem;
        margin-bottom: 1rem;
        border: 0.1rem solid #ddd;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        padding-left: 1rem;
        transition: background-color 0.3s; }
        .login-page .login__form .form__input:focus {
          background-color: #d9ebf7; }
      .login-page .login__form .form__group {
        margin-top: 2rem; }
        .login-page .login__form .form__group button {
          padding: 1rem 1.5rem;
          background-color: var(--color-secondary);
          color: var(--color-white);
          border-radius: 4rem;
          border: 0.1rem solid var(--color-secondary);
          font-size: 1.5rem;
          font-weight: bold;
          margin-right: 1rem;
          cursor: pointer; }
        .login-page .login__form .form__group label {
          font-size: 1.6rem;
          cursor: pointer;
          font-weight: 300;
          margin-right: 1rem; }
        .login-page .login__form .form__group a {
          font-size: 1.6rem;
          color: var(--color-secondary); }
    .login-page .login__footer {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      background-color: #edf3f7;
      padding-left: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2rem; }
      .login-page .login__footer p {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0.5rem 0; }
      .login-page .login__footer a {
        color: var(--color-secondary); }

.feeds-page {
  width: 100%;
  height: 100vh;
  display: none; }
  .feeds-page .nav {
    width: 100%;
    height: 6.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3); }
    .feeds-page .nav__icons {
      display: flex;
      align-items: center; }
      .feeds-page .nav__icons a {
        margin-right: 7rem;
        color: #9e9a9a;
        font-size: 2.5rem; }
      .feeds-page .nav__icons .active {
        color: var(--color-secondary); }
    .feeds-page .nav__search-bar {
      display: flex;
      align-items: center;
      position: relative; }
      .feeds-page .nav__search-bar i {
        position: absolute;
        left: 1.5rem;
        font-size: 1.6rem;
        color: #9e9a9a; }
      .feeds-page .nav__search-bar .search-bar__input {
        width: 35rem;
        height: 3rem;
        border: 0.1rem solid #d6e1e9;
        border-radius: 3rem;
        background-color: #d6e1e9;
        padding-left: 5rem;
        transition: all 0.3s; }
        .feeds-page .nav__search-bar .search-bar__input:focus {
          background-color: #fff;
          border-color: var(--color-secondary); }
    .feeds-page .nav__user {
      margin-left: 3rem;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .feeds-page .nav__user .user__img-box {
        width: 4rem;
        height: 4rem; }
        .feeds-page .nav__user .user__img-box img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%; }
      .feeds-page .nav__user .user-link {
        margin: 0 1rem;
        font-size: 1.8rem;
        color: #444; }
      .feeds-page .nav__user i {
        font-size: 1.6rem;
        color: #444; }
  .feeds-page .feeds-content {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 6.5rem; }
    .feeds-page .feeds-content .feeds-header {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background-color: var(--color-white);
      margin-top: 1.5rem; }
    .feeds-page .feeds-content .header-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      border-bottom: 0.1rem solid #eee; }
      .feeds-page .feeds-content .header-top h4 {
        font-size: 2.2rem; }
      .feeds-page .feeds-content .header-top i {
        font-size: 2rem;
        color: var(--color-secondary); }
    .feeds-page .feeds-content .header-post {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 0.1rem solid #eee; }
      .feeds-page .feeds-content .header-post .header-img-box {
        width: 4rem;
        height: 4rem;
        margin-right: 1.5rem; }
        .feeds-page .feeds-content .header-post .header-img-box img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%; }
      .feeds-page .feeds-content .header-post input {
        width: 35rem;
        height: 3rem;
        border: 0.1rem solid #d6e1e9;
        border-radius: 3rem;
        background-color: #d6e1e9;
        padding: 0.4rem 1.5rem; }
      .feeds-page .feeds-content .header-post i {
        font-size: 2.5rem;
        color: var(--color-secondary);
        margin: 1rem; }
  .feeds-page .posts {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    background-color: var(--color-white); }
    .feeds-page .posts .post {
      display: flex;
      padding: 1.5rem;
      border-bottom: 0.1rem solid #eee; }
      .feeds-page .posts .post__avatar {
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
        margin-right: 1.5rem; }
        .feeds-page .posts .post__avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%; }
      .feeds-page .posts .post__user-info {
        display: flex;
        align-items: center;
        margin: 1rem 0; }
        .feeds-page .posts .post__user-info h4 {
          font-size: 1.6rem;
          margin-right: 0.5rem; }
        .feeds-page .posts .post__user-info i {
          font-size: 1.5rem;
          color: var(--color-secondary);
          margin-right: 0.5rem; }
        .feeds-page .posts .post__user-info span {
          font-size: 1.6rem; }
      .feeds-page .posts .post__text {
        font-size: 1.6rem;
        margin-bottom: 1rem; }
      .feeds-page .posts .post__icons {
        margin-top: 1rem; }
        .feeds-page .posts .post__icons i {
          font-size: 1.8rem;
          color: #868383;
          margin-right: 6rem; }
      .feeds-page .posts .post__img {
        width: 48rem;
        height: 30rem; }
        .feeds-page .posts .post__img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem; }
  .feeds-page .follow {
    position: fixed;
    top: 8rem;
    left: 57%;
    background-color: var(--color-white);
    width: 35rem; }
    .feeds-page .follow__heading {
      padding: 1rem;
      font-size: 1.8rem;
      border-bottom: 0.1rem solid #eee; }
    .feeds-page .follow__user {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      border-bottom: 0.1rem solid #eee; }
      .feeds-page .follow__user-img {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem; }
        .feeds-page .follow__user-img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%; }
      .feeds-page .follow__user-info h4,
      .feeds-page .follow__user-info p {
        font-size: 1.6rem;
        margin-bottom: 0.5rem; }
      .feeds-page .follow__user-button {
        margin-left: auto;
        width: 9rem;
        background-color: var(--color-white);
        color: var(--color-secondary);
        padding: 0.7rem 0.5rem;
        border: 0.1rem solid var(--color-secondary);
        border-radius: 3rem;
        font-size: 1.6rem;
        cursor: pointer; }
    .feeds-page .follow__link {
      margin: 2rem 1rem; }
      .feeds-page .follow__link a {
        color: var(--color-secondary);
        font-size: 1.5rem; }
    .feeds-page .follow__footer {
      background-color: var(--color-primary); }
      .feeds-page .follow__footer ul {
        display: flex;
        padding: 2rem 0; }
      .feeds-page .follow__footer a {
        font-size: 1.5rem;
        color: #868383;
        margin: 0 0.7rem; }
