.dark-1 {
	background-color: #1c2938 !important;
}

.dark-2 {
	background-color: #10171e !important;
}

.light {
	color: var(--color-white) !important;
}

.border-color {
	border-color: #444 !important;
}
