.right {
	grid-column: 2 / -1;
	grid-row: 1 / 2;
	position: relative;

	@include respond(ipad) {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		width: 70%;
		margin: auto;
	}

	@include respond(tab-port) {
		width: 70%;
	}

	@include respond(phone-land) {
		grid-row: 1 / 2;
		width: 90%;
	}

	&__form {
		display: flex;
		justify-content: center;
		margin-top: 3rem;

		@include respond(ipad) {
			display: none;
		}

		input {
			width: 20rem;
			height: 4.5rem;
			margin-right: 1rem;
			font-size: 1.6rem;
			padding: 0 1rem;
			border: 0.1rem solid #ddd;
			border-radius: 0.5rem;
			background-color: var(--color-white);
			transition: background-color 0.3s;

			&:focus {
				background-color: #d9ebf7;
			}
		}

		.form__group {
			position: relative;

			label {
				position: absolute;
				top: 5.5rem;
				left: 0;
				font-size: 1.6rem;
				font-weight: 300;
				color: #a7a6a6;
			}
		}

		.form__button {
			width: 8rem;
			background-color: var(--color-white);
			color: var(--color-secondary);
			border: 0.1rem solid var(--color-secondary);
			border-radius: 3rem;
			font-size: 1.4rem;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #d9ebf7;
			}
		}
	}

	&__middle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		width: 40%;

		@include respond(largeX) {
			width: 60%;
		}

		i {
			font-size: 4rem;
			color: var(--color-secondary);
			margin-bottom: 2rem;

			@include respond(tab-port) {
				display: none;
			}
		}

		h1 {
			font-size: 2.8rem;
			margin-bottom: 4rem;
			line-height: 4rem;

			@include respond(tab-port) {
				margin-bottom: 2rem;
			}

			@include respond(phone) {
				font-size: 2.5rem;
			}
		}

		h4 {
			font-size: 2rem;
			margin-bottom: 2rem;

			@include respond(tab-port) {
				margin-bottom: 1rem;
			}
		}

		button {
			margin: 0.8rem 0;
			padding: 0.5rem;
			border: 0.1rem solid var(--color-secondary);
			border-radius: 4rem;
			font-size: 1.6rem;
			cursor: pointer;
			transition: background-color 0.3s;
		}

		.sign-up {
			background-color: var(--color-secondary);
			color: var(--color-white);

			&:hover {
				background-color: #0f5d8d;
			}
		}

		.sign-in {
			background-color: var(--color-white);

			&:hover {
				background-color: #d9ebf7;
			}
		}
	}
}
